.bg-custom {
    background-color: #55ACEE;
}

.container-fluid .wrapper-contain {
    margin-top: 25px;
    margin-left: 5%;
    margin-right: 5%;
}

.btn-outline-custom {
    border-radius: 5px;
    border: 1px solid #55ACEE;
}

.btn-outline-custom:hover {
    border-radius: 5px;
    border: 1px solid #ffffff;
    background-color: #55ACEE ;
}

.container-fluid .table-list {
    margin-top: 10px;
}

.contain-tambah {
    margin-top: 10px;
}

.wrapper-input {
    margin-top: 10px;
    margin-bottom: 10px;
}

.list-table {
    font-size: 14px;
    text-align: center;
}