.bg-custom {
    background-color: #55ACEE;
}

.container-fluid .wrapper-contain {
    margin-top: 25px;
    margin-left: 5%;
    margin-right: 5%;
}

.btn-outline-custom {
    border-radius: 5px;
    border: 1px solid #55ACEE;
}

.btn-outline-custom:hover {
    border-radius: 5px;
    border: 1px solid #ffffff;
    background-color: #55ACEE ;
}

.container-fluid .table-list {
    margin-top: 10px;
}

.contain-tambah {
    margin-top: 10px;
}

.wrapper-input {
    margin-top: 10px;
    margin-bottom: 10px;
}

.list-table {
    font-size: 14px;
    text-align: center;
}

.btn-aksi {
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid green;
    padding: 3px 3px;
    color: black;
    font-size: 10px;
}
.btn-aksi:hover {
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid rgba(0,129,52,0.5);
    padding: 3px 3px;
    color: black;
    background-color: rgba(0,129,52,0.5);
}

.btn-aksi2 {
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid rgba(220,207,15,0.5);
    padding: 3px 3px;
    color: black;
    font-size: 10px;
}
.btn-aksi2:hover {
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid rgba(220,207,15,0.5);
    padding: 3px 3px;
    color: black;
    background-color: rgba(220,207,15,0.5);    
}