.bg-custom {
    background-color: #55ACEE;
}

.container-fluid .wrapper-form {
    padding-left: 5%;
    padding-right: 5%;
}

.container-fluid .form-tambah {
    margin-top: 25px;
}

.container-fluid .form-tambah .wrapper-input {
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-fluid .daftar-siswa {
    margin-top: 25px;
}

.wrap {
    border: 1px solid gray;
    text-align: center;
}

.wrapper-tambah {
    border: 1px solid gray;
    border-radius: 10px;
}

.wrap-head {
    background-color: rgba(85, 172, 238, 0.5);
    text-align: center;
    font-weight: 400;
}

.wrapper-over {
    overflow: scroll;
    height: 180px;
}